@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

$orange: #f7941d;
$white: #ffffff;
$red: #ff0000 ;

.red {color:$red;}
.item-description {font-style:italic;}

.btn-full-width {
  width:100%;
  margin-left:0;
}
.btn-medwidth { width:50px; min-height:34px; }
.btn-orange {
  background:$orange; color:$white;
  &:hover {background:$orange; color:$white;}
  &:active {background:$orange; color:$white;}
  &:focus {background:$orange; color:$white;}
  &:checked {background:$orange; color:$white;}
}

.inventory-wrapper, .product-wrapper {
  .list-wrapper {
    border-bottom:1px solid #ddd; padding:10px 10px;
    >.title,>.description {line-height:1.5; font-size:18px;}
    >.action-bar {padding-left:0;}
  }
}



textarea.description {height:100px;}
